include *.py
include MANIFEST.in
include requirements.txt
include requirements-pi.txt
graft prusa/link/data
graft prusa/link/templates
graft prusa/link/static
graft image_builder
global-exclude *~
global-exclude *.swp
prune venv
