git+ssh://git@dream.webjet.cz/Prusa-Connect-SDK-Printer.git#egg=prusa.connect.sdk.printer
appdirs
blinker
elevate
extendparser
getmac
lockfile
PoorWSGI>=2.3.0
pydantic
pyserial
python-daemon
PyYAML
requests
setuptools
sortedcontainers
