{# vim:set softtabstop=2: -#}
{% set wx = True %}
{% set title = '500 Internal Server Error' -%}
{#% set refresh = 15 %#}
{% include "_header.html" %}

        <h1>{{ title }}</h1>
        <p>
          We're sorry, but there is a error in service.
          <br /><br />Please try again later.
        </p>

 {% if debug %}
        </td>
        <td></td>
      </tr>
      <tr><td></td>
          <td><h2> Exception Traceback</h2>
              <pre class="striped">
{%- for line in traceback -%}
<div>{{ line }}</div>
{%- endfor -%}
              </pre>
    {% endif %}

{% include "_footer.html" %}
