{# vim:set softtabstop=2: -#}
{% set title = 'Home' -%}
{#% set refresh = 15 %#}
{% include "_header.html" %}

    <div class="container">
        <h1 class="align-center">API key</h1>
        <p class="align-center">For uploading gcodes from the Prusa Slicer use this Api-Key</p>
        <p class="align-center">
          <code class="api-key" id="apikey" onclick="navigator.clipboard.writeText(document.getElementById('apikey').innerText)" title="Click to copy to clipboard">{{ api_key }}<img src="img/copy.svg" height="16" /></code>
        </p>
        <h1 class="align-center">Status</h1>
        <p class="align-center">{{ errors }}</p>

    </div>

  </div>

  <footer class="footer mt-auto py-3">
      <div class="container">

{% include "_footer.html" %}
