{# vim:set softtabstop=2: -#}
{% set title = 'Wizard Restore' -%}
{#% set refresh = 15 %#}
{% include "_header.html" %}
{% set active="restore" %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="align-center">Restore Printer Settings</h1>
            <div class="container navigation">
                <div class="row">
                    <p>You can download your <i>prusa_printer_settings.ini</i> file from the Connect website, or use the backup version from PrusaLink.
                        The form will be populated with the values from the file, so you can check them before confirming.
                    </p>

                    <p>You can upload your <i>prusa_printer_settings.ini</i> file below</p>
                </div>
                <form id="ini_file_form" class="col-sm-auto" action = "/wizard/restore" method = "POST" enctype = "multipart/form-data">

                    <div class="row">
                        <input type="file" name="file" class="btn btn-outline-light full-width" style="white-space: nowrap;"/>

                        <div class="container navigation">
                          <div class="row">
                              <div class="col">
                                <a href={{ "/wizard" | prefixed }} class="btn btn-back btn-outline-light full-width"><img src="../img/arrow-left.svg" height="16" /> BACK | Welcome</a>
                              </div>
                              <div class="col-sm-auto">
                                <button onclick="document.getElementById('form').submit();" type="submit" class="btn btn-outline-light full-width">Restore and continue | NEXT <img src="../img/arrow-right.svg" height="16" /></button>
                              </div>
                          </div>
                        </div>

                    </div>

                </form>

            </div>
        </div>{# /col-md-12 so end of content #}
    </div>{# /row #}
</div>{# /container #}

{% include "_wizard.html" %}
{% include "_footer.html" %}
