{# vim:set softtabstop=2: -#}
{% set title = 'Wizard Authorization' -%}
{#% set refresh = 15 %#}
{% include "_header.html" %}
{% set active="auth" %}

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h1>Authorization</h1>
            <p>PrusaLink will use HTTP Digest authorization. Please set administration username and password.<br/></p>

            <form method="post" id="form">
            <p>Username length must be at least <i>3 characters</i> long<br />
              Password cannot contain spaces on the beggining nor the end and must meet at least one of these options:<br />
              <li>Minimal length 8 characters, including one lowercase letter, one uppercase letter and one number</li>
              <li>Minimal length 8 characters, including one non-alphanumeric character (e.g. @)</li>
              <li>Minimal length 15 characters</li></p>

            {% set errors = wizard.errors.get('auth', {}) %}
            <div class="form-group row">
              <label for="username" class="col-sm-2 col-form-label">Username:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control {{ 'is-invalid' if errors.get('username') or errors.get('username_spaces') else '' }}" id="username" name="username" value="{{ wizard.username or '' }}" required>
                <div class="invalid-feedback">
                  {% if errors.get('username_spaces') %}
                    <p>Username cannot contain space at the beginning nor the end</p>
                  {% elif errors.get('username') %}
                    <p>Please provide a username in valid format and with sufficient length.</p>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-sm-2 col-form-label">Password:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control {{ 'is-invalid' if errors.get('password') or errors.get('password_spaces') else '' }}" id="password" name="password" value="" required>
                <div class="invalid-feedback">
                  {% if errors.get('password_spaces') %}
                    <p>Password cannot contain space at the beginning nor the end</p>
                  {% elif errors.get('password') %}
                    <p>Please provide a strong password in correct format and with sufficient length.</p>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="repassword" class="col-sm-2 col-form-label">Password again:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control {{ 'is-invalid' if errors.get('repassword') else '' }}" id="repassword" name="repassword" value="" required>
                <div class="invalid-feedback">
                  Passwords must be same.
                </div>
              </div>
            </div>

            <h2 class="condensed">Restore configuration</h2>
            <p>You can also restore <b>printer configuration</b> using your <i>prusa_printer_settings.ini</i> file.</p>
            <div class="form-group check row">
              <label for="use_ini_file" class="col-sm-3 form-check-label">Restore printer settings</label>
              <div class="col-sm-2">
                <input type="checkbox" id="use_ini_file" name="use_ini_file" onclick="useIniFile()">
              </div>
            </div>

              <div class="form-group row" id="ini_file" style="{{ 'display:none' }}">
                <label for="ini_file_form" class="col-sm-10 col-form-label">Upload your <i>prusa_printer_settings.ini file</i></label>

                <form id="ini_file_form" class="col-sm-10" action = "/wizard/restore" method = "POST" enctype = "multipart/form-data" style="{{ 'display:block' if wizard.use_ini_file else 'display:none' }}">
                  <input type="file" name="file" class="btn btn-outline-light" style="white-space: nowrap;"/>
                  <input type="submit" value="Upload file" class="btn btn-outline-light" />
                </form><br />
            </div>

            <div class="container navigation">
              <div class="row">
                  <div class="col">
                    <a href="/wizard" class="btn btn-back btn-outline-light"><img src="../img/arrow-left.svg" height="16" /> BACK | Welcome</a>
                  </div>
                  <div class="col-xs-auto">
                    <button onclick="document.getElementById('form').submit();" type="submit" class="btn btn-outline-light">Setup printer | NEXT <img src="../img/arrow-right.svg" height="16" /></button>
                  </div>
              </div>
            </div>

          </form>
        </div>{# /col-md-9 so end of content  #}
      </div>{# /row #}
    </div>{# /container #}

    <script>
      function useIniFile() {
        var checked = document.getElementById("use_ini_file").checked;
        var ini_file = document.getElementById("ini_file");
        if (checked)
        {
          ini_file.style.display = "block";
        } else {
          ini_file.style.display = "none";
        }
      }
     </script>

    {% include "_wizard.html" %}
    {% include "_footer.html" %}
