{# vim:set softtabstop=2: -#}
{% set title = 'Wizard' -%}
{#% set refresh = 15 %#}
{% include "_header.html" %}
{% set active="finish" %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h1>Recap</h1>
        {% set printer = wizard.daemon.prusa_link.printer %}
        {% set cfg = wizard.daemon.cfg %}
    </div>
  </div>

  <div class="row">
      <div class="col-md-6">

          <h3>Authorization</h3>
          <ul>
            <li>Username: <span class="white">{{ wizard.username }}</span></li>
              {% if wizard.use_api_key %}
                <li>Api-Key: <span class="white">{{ wizard.api_key }}</span></li>
              {% endif %}
          </ul>

          <h3>Network</h3>
          <ul>
            <li>Wifi MAC: <span class="white">{{ printer.network_info.wifi_mac }}</span></li>
            <li>Wifi IPv4: <span class="white">{{ printer.network_info.wifi_ipv4 }}</span></li>
          </ul>
        </div>{# /col-md-6 so end of content  #}

        <div class="col-md-6">
          <h3>Printer</h3>
          <ul>
            <li>Name: <span class="white">{{ wizard.printer_name }}</span></li>
            <li>Location: <span class="white">{{ wizard.printer_location }}</span></li>
            <li>Type: <span class="white">{{ printer.type | printer_type }}</span></li>
            <li>Port: <span class="white">{{ cfg.printer.port }}</span></li>
            <li>Baudrate: <span class="white">{{ cfg.printer.baudrate }}</span></li>
              {% if wizard.serial_number %}
                <li>SN: <span class="white">{{ wizard.serial_number }}</span></li>
              {% else %}
                <li>SN could not be obtained from the FW!</li>
              {% endif %}
            <li>Firmware: <span class="white">{{ printer.firmware }}</span></li>
          </ul>

          <h3>Connect</h3>
          <ul>
          {% if not wizard.connect_skip %}
            <li>Server: <span class="white">{{ connect_url }}</span></li>
            {% if printer.token %}
            <li>Token: <span class="white">{{ printer.token }}</span></li>
            {% endif %}
          </ul>
          {% else %}
            <span class="orange">YOU WILL NOT BE REGISTRATED TO PRUSA CONNECT</span>
          {% endif %}

        </div>{# /col-md-6 so end of content  #}
      </div>{# /row #}

      <div class="row">
        <div class="col-md-12">
          <form method="post" action="/wizard/finish-register" id="form">
            <div class="container navigation">
              <div class="row">
                  <div class="col">
                    <a href="/wizard/connect" class="btn btn-back btn-outline-light"><img src="../img/arrow-left.svg" height="16" /> BACK | PrusaConnect settings</a>
                  </div>
                  <div class="col-xs-auto">
                    <button onclick="document.getElementById('form').submit();" type="submit" class="btn btn-outline-light">Save {% if not wizard.connect_skip %} and Register {% endif %} Printer | NEXT <img src="../img/arrow-right.svg" height="16" /></button>
                  </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>{# /container #}

    {% include "_wizard.html" %}
    {% include "_footer.html" %}
