{# vim:set softtabstop=2: -#}
{% set title = 'Wizard' -%}
{#% set refresh = 15 %#}
{% include "_header.html" %}
{% set active="printer" %}

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h1>Setup Printer</h1>

          <form method="post" id="form">
            <p>Please fill the name of the printer, which will be used at Prusa Connect, location where the printer placed and serial number of your printer if not already filled.</p>

            {% set errors = wizard.errors.get('printer', {}) %}
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control {{ 'is-invalid' if errors.get('name') else '' }}" id="name" name="name" value="{{ wizard.printer_name or '' }}" required>
                <div class="invalid-feedback">
                  Please provide a printer name.
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="location" class="col-sm-2 col-form-label">Location:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control {{ 'is-invalid' if errors.get('location') else '' }}" id="location" name="location" value="{{ wizard.printer_location or '' }}" required>
                <div class="invalid-feedback">
                  Please provide a printer location.
                </div>
              </div>
            </div>

            <div class="container navigation">
              <div class="row">
                  <div class="col">
                    <a href="/wizard/auth" class="btn btn-back btn-outline-light"><img src="../img/arrow-left.svg" height="16" /> BACK | Authorization</a>
                  </div>
                  <div class="col-xs-auto">
                    <button onclick="document.getElementById('form').submit();" type="submit" class="btn btn-outline-light">Setup printer | NEXT <img src="../img/arrow-right.svg" height="16" /></button>
                  </div>
              </div>
            </div>
          </form>

        </div>{# /col-md-9 so end of content  #}
      </div>{# /row #}
    </div>{# /container #}

    {% include "_wizard.html" %}
    {% include "_footer.html" %}
