{# vim:set softtabstop=2: -#}
{% set title = 'Wizard' -%}
{#% set refresh = 15 %#}
{% include "_header.html" %}
{% set active="welcome" %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="align-center">Welcome to Prusa Link configuration Wizard</h1>
            {% if not wizard.daemon.prusa_link or not wizard.daemon.prusa_link.printer %}

            <h3>There is problem in communication with printer</h3>
            <p>Please check printer settings, if RPi port is on, and if Prusa Link is connected to printer correctly. Prusa Link gives some time to printer until printer is ready.</p>

            <p>Wait a few seconds and refresh the page. If problems still persists, try to power off and power on your printer / Prusa Link and try it again.</p>

            {# TODO: some prusa-link log to see what's happen. #}

            <a href="/wizard" class="btn btn-outline-light align-center" style="width: 200px;margin: 2em auto;display: block;">Refresh</a>
            {# TODO: do some javascript call to check the printer, and then refresh is automaticaly #}

            {% else %}

            {% set printer = wizard.daemon.prusa_link.printer %}

            <div class="img-center">
                <img src="img/printers/{{ printer.type }}.svg" height="200" width="200" />
            </div>

            <h2 class="align-center">{{ printer.type | printer_type }}</h2>

            <div class="container navigation">
                <div class="row">
                {% if not errors.FW.ok %}
                    <div class="col">Firmware is not up to date, please update it!</div>
                {% elif not errors.SN.ok %}
                    <div class="col">Can't get SN of your printer, please conntact our support.</div>
                {% else %}
                    <div class="col"><b>Great!</b> You can continue to Authorization</div>
                    <div class="col-xs-auto">
                        <a href="/wizard/auth" class="btn btn-outline-light">Authorization | NEXT <img src="img/arrow-right.svg" height="16" /></a>
                    </div>
                {% endif %}
                </div>
            </div>


            {% endif %}
        </div>{# /col-md-12 so end of content #}
    </div>{# /row #}
</div>{# /container #}

{% include "_wizard.html" %}
{% include "_footer.html" %}
