{# vim:set softtabstop=2: -#}
{% set title = 'Wizard Authorization' -%}
{#% set refresh = 15 %#}
{% include "_header.html" %}
{% set active="auth" %}

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h1>Authorization</h1>
          <form method="post" id="form">
            <p>Prusa Link will use HTTP Digest authorization. Please set administration username and password.<br />
              Username length must be at least <i>3 characters</i> and password at least <i>8 characters</i> long<br /></p>

            {% set errors = wizard.errors.get('auth', {}) %}
            <div class="form-group row">
              <label for="username" class="col-sm-2 col-form-label">Username:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control {{ 'is-invalid' if errors.get('username') or errors.get('username_spaces') else '' }}" id="username" name="username" value="{{ wizard.username or '' }}" required>
                <div class="invalid-feedback">
                  {% if errors.get('username_spaces') %}
                    <p>Username cannot contain space at the beginning nor the end</p>
                  {% elif errors.get('username') %}
                    <p>Please provide a username with sufficient length and in valid format.</p>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-sm-2 col-form-label">Password:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control {{ 'is-invalid' if errors.get('password') else '' }}" id="password" name="password" value="" required>
                <div class="invalid-feedback">
                  Please provide a strong password with sufficient length.
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="repassword" class="col-sm-2 col-form-label">Password again:</label>
              <div class="col-sm-10">
                <input type="password" class="form-control {{ 'is-invalid' if errors.get('repassword') else '' }}" id="repassword" name="repassword" value="" required>
                <div class="invalid-feedback">
                  Passwords must be same.
                </div>
              </div>
            </div>

            <p>You probably want to set <b>Api-Key</b> for other
              applications to use internal API of Prusa Link. For example
              Prusa Slicer can upload files to Prusa Link after slicing.</p>

            <div class="form-group row">
              <label for="api_key" class="col-sm-2 col-form-label">Api-Key</label>
              <div class="col-sm-10">
                <input type="text" class="form-control {{ 'is-invalid' if errors.get('api_key') else '' }}" id="api_key" name="api_key" value="{{ wizard.api_key or '' }}">
                <div class="invalid-feedback">
                  Please provide an Api-Key with sufficient length.
                </div>
              </div>

            </div>

            <div class="container navigation">
              <div class="row">
                  <div class="col">
                    <a href="/wizard" class="btn btn-back btn-outline-light"><img src="../img/arrow-left.svg" height="16" /> BACK | Welcome</a>
                  </div>
                  <div class="col-xs-auto">
                    <button onclick="document.getElementById('form').submit();" type="submit" class="btn btn-outline-light">Setup printer | NEXT <img src="../img/arrow-right.svg" height="16" /></button>
                  </div>
              </div>
            </div>

          </form>
        </div>{# /col-md-9 so end of content  #}
      </div>{# /row #}
    </div>{# /container #}

    {% include "_wizard.html" %}
    {% include "_footer.html" %}
