{# vim:set softtabstop=2: -#}
{% set title = 'Wizard' -%}
{#% set refresh = 15 %#}
{% include "_header.html" %}
{% set active="connect" %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Prusa Connect settings</h1>
            <form method="post" action="/wizard/connect/skip" id="skip"></form>
            <form method="post" id="form">
                <p>Please check connect settings for your printer.</p>

                {% set errors = wizard.errors.get('connect', {}) %}
                <div class="form-group row">
                    <label for="hostname" class="col-sm-2 col-form-label">Hostname:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control {{ 'is-invalid' if errors.get('hostname') else '' }}" id="hostname" name="hostname" value="{{ wizard.connect_hostname or '' }}" required>
                        <div class="invalid-feedback">
                            Can't resolve Prusa Connect hostname.
                        </div>
                    </div>
                </div>

                <div class="form-group check row">
                    <label for="tls" class="col-sm-2 form-check-label">TLS</label>
                    <div class="col-sm-10">
                        <input type="checkbox" id="tls" name="tls" value="1" {{ 'checked="checked"' if wizard.connect_tls or '' }}>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="port" class="col-sm-2 col-form-label">Port:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="port" name="port" value="{{ wizard.connect_port or '0' }}">
                        <small class="form-text text-muted">0 value means default http(s) port.</small>
                    </div>
                </div>

                {% if errors.get('connection') %}
                <div class="is-invalid"></div>
                <div class="invalid-feedback">
                    Can't connect to Prusa Connect.
                </div>
                {% endif %}

                <div class="container navigation">
                    <div class="row">
                        <div class="col">
                            <a href="/wizard/printer" class="btn btn-back btn-outline-light"><img src="../img/arrow-left.svg" height="16" /> BACK | Setup printer</a>
                        </div>
                        <div class="col-xs-auto">
                            <button type="submit" form="skip" class="btn btn-back btn-outline-light">Skip PRUSA CONNECT settings <img src="../img/arrow-right.svg" height="16" /></button>
                            <button onclick="document.getElementById('form').submit();" type="submit" class="btn btn-outline-light">Add to PRUSA CONNECT and recap | NEXT <img src="../img/arrow-right.svg" height="16" /></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>{# /col-md-9 so end of content #}
    </div>{# /row #}
</div>{# /container #}

{% include "_wizard.html" %}
{% include "_footer.html" %}
