[Unit]
Description=Old Buddy - making old MK3s learn new tricks

[Service]
Type=simple
ExecStart=/usr/local/bin/old_buddy
User=pi
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=multi-user.target
