[Unit]
Description=Prusa Link - making MK3(s) do new tricks

[Service]
Type=simple
ExecStart=/usr/local/bin/prusa_link
User=pi
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=multi-user.target
