{# vim:set softtabstop=2: -#}
{% set title = 'Wizard' -%}
{#% set refresh = 15 %#}
{% include "_header.html" %}
{% set active="printer" %}
{% include "_wizard.html" %}

        <div class="col-md-9">
          <h1>Printer</h1>

          <p>We detect {{ wizard.daemon.prusa_link.printer.type }} printer on
            {{ wizard.daemon.cfg.printer.port }}.</p>

          <form method="post">
            <p>Please fill the serial number of your printer to correct
              communication with Connect.</p>

            {% set errors = wizard.errors.get('printer', {}) %}
            <div class="form-group row">
              <label for="serial_number" class="col-sm-2 col-form-label">SN:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control {{ 'is-invalid' if errors.get('serial_number') else '' }}" id="serial_number" name="serial_number" value="{{ wizard.serial_number or '' }}" required>
                <div class="invalid-feedback">
                  Please provide a valid serail number.
                </div>
              </div>
            </div>

            <input type="submit" value="Next"/>
          </form>
        </div>{# /col-md-9 so end of content  #}
      </div>{# /row #}
    </div>{# /container #}
{% include "_footer.html" %}
